title   Arch Linux
linux   /vmlinuz-linux
initrd  /intel-ucode.img
initrd  /initramfs-linux.img
options root=/dev/mapper/cryptroot vsyscall=emulate cryptdevice=UUID={{ crypt_device_id }}:cryptroot:allow-discards rw quiet
