title   Arch Linux LTS
linux   /vmlinuz-linux-lts
initrd  /intel-ucode.img
initrd  /initramfs-linux-lts.img
options root=/dev/mapper/cryptroot vsyscall=emulate cryptdevice=UUID={{ crypt_device_id }}:cryptroot:allow-discards rw quiet
